.actividad{
  border: 1px solid gray;
  border-radius: 20px;
  margin: 20px;
  word-wrap: normal; 
  padding: 20px;
  cursor: pointer;
  color: aliceblue;
  background-color: #195385;
}

.actividad--titulo{
  font-size: xx-large;
  font-weight: bold;
}

.actividad--cuerpo{
  font-size: small;
}

#cientifico-hombre{
  min-height: 80vh;
  background-image: url("https://i.ibb.co/ygJrtr1/Imagen1.png");
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  
}
