@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.profile-photo{
  height:250px;
  border: #efab4f 3px solid;
}

.floating-btn{
    width: 80px;
    height: 80px;
    background-color: #0184CA;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    box-shadow: 2px 2px 4px rgba(0, 0,0, 25);
    position: relative;
    padding: 20px;
    }

.col1{
  height: 180px;
}

.col2{
  height: 70px;
  text-align: center;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}


.jumbotron {
    padding:70px 20px 10px 20px;
    margin:0px auto;
    background: #3591DE ;
    color:floralwhite;
    grid-area: "jumbo";
}

.home-container{
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-data{
  grid-area: "profile";
  padding-left:15%;
  padding-right:15%;
  padding-bottom:10px;
}

.calendar-data{
  grid-area: "calendar"
}

.boton1{
  margin-left: 0px;
}

.fondo{
  background-image: url("https://i.ibb.co/1KPMKSv/background.jpg");
  background-size: cover;
  height: 1000px;
}

.btnhome{
  height: 50px;
  width: 250px;
}

.link{
  color: white;
}

.link:hover {
	background-color: transparent;
	color: white;
	text-decoration: none;
}

.profile-user{
  color: white;
}

.text-uppercase, .list-inline-item{
  color: white;
}


